/- vote_text = current_user&.voted_for?(@post) ? "Дизлайк" : "Лайк"
/= link_to vote_text, like_post_path(@post), method: :put, remote: :true
- if current_user.voted_up_on?(@post)
  = link_to like_post_path(@post), method: :put, remote: :true do
    .text-success.fa.fa-thumbs-up
    .text-secondary.fa.fa-thumbs-down
- elsif current_user.voted_down_on?(@post)
  = link_to like_post_path(@post), method: :put, remote: :true do
    .text-secondary.fa.fa-thumbs-up
    .text-danger.fa.fa-thumbs-down
- else
  = link_to like_post_path(@post), method: :put, remote: :true do
    .text-secondary.fa.fa-thumbs-up
    .text-secondary.fa.fa-question
    .text-secondary.fa.fa-thumbs-down
  
